<div
  class="relative h-screen w-[280px] md:w-64 shadow-lg bg-red-900 dark:bg-red-950 backdrop-blur-md bg-[url('/assets/sidebar-bg.png')] bg-cover bg-center bg-blend-overlay"
>
  <div class="absolute inset-0 bg-red-950/40 dark:bg-red-950/40 backdrop-filter backdrop-blur-sm pointer-events-none"></div>
  <div class="p-4 relative">
    <div class="mb-6">
      <span class="text-2xl font-bold text-white tracking-wide">StageLink</span>
      <hr class="border-t-2 border-white mt-2 w-50" />
    </div>
    <div class="flex items-center space-x-3 mb-6">
      <span class="material-icons text-white text-3xl">account_circle</span>
      <h3 class="text-lg font-semibold text-white uppercase tracking-wider">
        {{ user?.nom ? (user.prenom + ' ' + user.nom) : 'Utilisateur' }}
      </h3>
    </div>
    <nav class="mt-4">
      <ul class="sidebar-menu space-y-2">
        <li *ngFor="let item of menuItems">
          <a
            [routerLink]="item.link"
            class="flex items-center px-3 py-2 text-sm font-medium text-white rounded-md transition-colors duration-150 hover:bg-white/20 hover:text-red-700 dark:hover:bg-black/30 dark:hover:text-white"
          >
            <span class="material-icons mr-3 text-xl">{{ item.icon }}</span>
            <span>{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="absolute bottom-0 left-0 w-full py-1">
    <button (click)="logout()" class="w-full flex items-center justify-center px-4 py-2 bg-red-950/10 text-white font-semibold rounded-md hover:bg-white/20 hover:text-red-700 dark:hover:bg-black/30 dark:hover:text-white transition">
      <span class="material-icons mr-2">logout</span> Déconnexion
    </button>
  </div>
</div>
