:host {
  display: block;
}

.prose {
  max-width: 65ch;
  
  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* Pour le conteneur des boutons */
.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

/* Pour le groupe de boutons */
.view-toggle-group {
  display: flex;
  gap: 0.5rem; /* Meilleur que space-x-2 pour plus de contrôle */
}